//common
$primary-font: 'Ubuntu', sans-serif;
$primary-fsize: 18px;
$color-bg: #ffffff;
$color-white: #ffffff;
$color-gray: #e1e1e1;
$color-blue: #4466c9;
$color-orange: #fc6a42;
$color-yellow: #fcec64; 
$color-dark-gray: #999999;


//first
$color-first-bg: #648cff;
$color-wave-1: adjust-color($color:#5b7fe6, $alpha:-0.46);
$color-wave-2: #5c83f3;

//features
$color-features-title: #353854;
$color-features-text: #aeaeae;

//widgets
$color-widget-shadow: rgba(0,0,0,0.17);

//screenshots
$color-bg-text: #ededf2;
$color-light-blue: #6ca3ff;
$color-dark-blue: #7693c8;
$color-light-orange: #f2a14e;
$color-cyan: #b8faee;
$color-dirty-gray: #7e8c91;

//footer
$color-footer-border: #434769;
$color-footer-nav: #b5b5c8;

//mobile
$ipad: 850px;
$iphone: 376px;